#include "resource-App.h"
#include "Version.inl"
#include <windows.h>


/////////////////////////////////////////////////////////////////////////////
//
// Icon
//

// Icon with lowest ID value placed first to ensure application icon
// remains consistent on all systems.
IDI_MAINICON            ICON                    "..\\..\\resources\\mainIcon.ico"
IDI_MAINICONPAUSED      ICON                    "..\\..\\resources\\mainIcon_paused.ico"


/////////////////////////////////////////////////////////////////////////////
// Russian (Russia) resources

#if !defined(AFX_RESOURCE_DLL) || defined(AFX_TARG_RUS)
LANGUAGE LANG_RUSSIAN, SUBLANG_DEFAULT


IDR_MENU1 MENU
BEGIN
    POPUP "Tray Menu"
    BEGIN
		MENUITEM "О InEfAn...",        ID_TRAYMENU_ABOUT

		MENUITEM SEPARATOR
		MENUITEM "Приостановить логгирование", ID_TRAYMENU_PAUSE
		MENUITEM "Продолжить логгирование", ID_TRAYMENU_RESUME
		MENUITEM "Отправить отчёт разработчикам", ID_TRAYMENU_SENDLOGFILES
		MENUITEM "Начать лог заново", ID_TRAYMENU_NEW_LOG
		MENUITEM SEPARATOR

		MENUITEM "Выйти",                        ID_TRAYMENU_EXIT
    END
END


STRINGTABLE
BEGIN
    IDC_LOGFILES_SENT                            "Логфайлы были отправлены разработчикам."
    IDC_LOGFILES_NOTSENT                         "Логфайлы не были отправлены разработчикам."
    IDC_LOGGING_PAUSED                           "Инефан приостановлен"
    IDC_LOGGING_RESUMED                          "Инефан продолжил работу"
END

#endif    // Russian (Russia) resources



/////////////////////////////////////////////////////////////////////////////
// English (US) resources

#if !defined(AFX_RESOURCE_DLL) || defined(AFX_TARG_ENU)
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US

IDR_MENU1 MENU
BEGIN
    POPUP "Tray Menu"
    BEGIN
		MENUITEM "About InEfAn...",    ID_TRAYMENU_ABOUT

		MENUITEM SEPARATOR
		MENUITEM "Pause logging", ID_TRAYMENU_PAUSE
		MENUITEM "Resume logging", ID_TRAYMENU_RESUME
		MENUITEM "Send report to developers", ID_TRAYMENU_SENDLOGFILES
		MENUITEM "Start new log", ID_TRAYMENU_NEW_LOG
		MENUITEM SEPARATOR

		MENUITEM "Exit",                         ID_TRAYMENU_EXIT
    END
END

STRINGTABLE
BEGIN
    IDC_LOGFILES_SENT                            "Your log files were sent to the developers."
    IDC_LOGFILES_NOTSENT                         "Your log files were not sent to the developers."
    IDC_LOGGING_PAUSED                           "InEfAn paused"
    IDC_LOGGING_RESUMED                          "InEfAn resumed"
END

#endif  // English US resources


/////////////////////////////////////////////////////////////////////////////
// Belarusian (BY) resources

#if !defined(AFX_RESOURCE_DLL) || defined(AFX_TARG_ENU)
LANGUAGE LANG_BELARUSIAN, SUBLANG_BELARUSIAN_BELARUS

IDR_MENU1 MENU
BEGIN
    POPUP "Tray Menu"
    BEGIN
		MENUITEM "Аб Iнэфане...",    ID_TRAYMENU_ABOUT

		MENUITEM SEPARATOR
		MENUITEM "Прыпынiць лагiраванне", ID_TRAYMENU_PAUSE
		MENUITEM "Працягнуць лагiраванне", ID_TRAYMENU_RESUME
		MENUITEM "Адправiць справасдачу распрацоўнiкам", ID_TRAYMENU_SENDLOGFILES
		MENUITEM "Пачаць усё спачатку", ID_TRAYMENU_NEW_LOG
		MENUITEM SEPARATOR

		MENUITEM "Выйсцi",                         ID_TRAYMENU_EXIT
    END
END

STRINGTABLE
BEGIN
    IDC_LOGFILES_SENT                            "Логфайлы адправiлiся распрацоўнiкам"
    IDC_LOGFILES_NOTSENT                         "Логфайлы не былi адправлены распрацоўнiкам"
    IDC_LOGGING_PAUSED                           "Iнефан прыпынен"
    IDC_LOGGING_RESUMED                          "Iнефан працягвае сваю працу"
END

#endif  // English US resources


VS_VERSION_INFO VERSIONINFO
 FILEVERSION VER_PRODUCTVERSION_COMMAS
 PRODUCTVERSION VER_PRODUCTVERSION_COMMAS
 FILEFLAGSMASK 0x3fL
#ifdef _DEBUG
 FILEFLAGS 0x1L
#else
 FILEFLAGS 0x0L
#endif
 FILEOS 0x40004L
 FILETYPE 0x0L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904b0"
        BEGIN
            VALUE "CompanyName", VER_SZ_COMPANYNAME
            VALUE "FileDescription", VER_SZ_FILEDESCRIPTION
            VALUE "FileVersion", VER_SZ_FILEVERSION
            VALUE "InternalName", VER_SZ_INTERNALNAME
            VALUE "LegalCopyright", VER_SZ_LEGALCOPYRIGHT " " VER_SZ_COMPANYNAME " " VER_SZ_ALLRIGHTSRESERVED
            VALUE "OriginalFilename", VER_SZ_ORIGINALFILENAME
            VALUE "ProductName", VER_SZ_PRODUCTNAME
            VALUE "ProductVersion", VER_SZ_PRODUCTVERSION
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1200
    END
END

